.advantages {
  padding-top: 95px;

  &__steps {
    &-list {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 65px;
    }

    &-item {
      width: 50%;
    }
  }
}

@media screen and (max-width: 767px) {
  .advantages__container {
    display: flex;
    flex-flow: column nowrap;
  }

  .advantages__steps-list {
    display: flex;
    flex-flow: column nowrap;
  }

  .advantages__steps-item {
    width: 100%;
  }


}
