.loftblog {
    background: #f2f7f8;
    &--padding-bottom{
        padding-bottom: 110px;
    }

    &__container {
        padding-top: 110px;
        &--padding-bottom{
            padding-bottom: 110px;
        }
        display: flex;
        align-items: flex-start; 
        justify-content: center;

        &-photo {
            background: #f2f7f8;
            border-radius: 5px;
            &--padding{
                padding-left: 90px;
            }
        }

        &-desc{
          padding-left: 50px;
          &--no-padding{
              padding-left: 0;
          }
        }
    }
}