.loftblog {
    background: #f2f7f8;
    &--padding-bottom{
        padding-bottom: 110px;
    }

    &__container {
        padding-top: 110px;
        &--padding-bottom{
            padding-bottom: 110px;
        }
        display: flex;
        align-items: flex-start; 
        justify-content: center;

        &-photo {
            background: #f2f7f8;
            border-radius: 5px;
            &--padding{
                padding-left: 90px;
            }
        }

        &-desc{
          padding-left: 50px;
          &--no-padding{
              padding-left: 0;
          }
        }

        &-img{
            width: 595px;
            height: 395px;
            &--abs{
                position: relative;
            }

            &--play{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .loftblog__container {
        display: flex;
        flex-flow: column nowrap;
    }

    .loftblog__container-photo {
        width: 100%;
    }

    .loftblog__container-img {
        width: 100%;
        margin: 0 0 32px 0;
    }

    .loftblog__container-desc {
        padding: 0;
        margin: 0 0 32px 0;
    }

    .loftblog__container-photo--padding {
        padding: 0;
    }
}
