.overlay {
  position: fixed;
  z-index: -1;
  left: -624.9375rem;
  overflow-x: hidden;
  overflow-y: auto;
  opacity: 0;
  transition: opacity .2s linear;
}

.overlay.is-visible {
  opacity: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5000;
}

.mask {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  // display: none;
}

.youtubebutton {
  outline: none;
  border: none;
  position: relative;
  height: 100%;
  width: 100%;
  display: block;
  &:focus {
    outline: auto;
  }
  &:hover {
    cursor: pointer;
  }
}

.is-modal {
  overflow: hidden;
}

.close {
  position: fixed;
  top: .9375rem;
  right: .9375rem;
  margin: 0;
  height: 50px;
  width: 50px;
  background: url(../img/icons/close-button.svg) center center/cover no-repeat;
  &:hover{
    background: url(../img/icons/cross-out.svg) center center/cover no-repeat;
  }
}

.youtubemodal{
  position: absolute;
  margin: auto;
  top: -170px;
  left: 50%;
  transform: translateX(-50%);
  cursor: auto;
  padding: 2.5rem;
  background-color: #fff;
  margin-top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.x-aspectratio {
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
}
.x-aspectratio-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
}

@media only screen and (min-width: 960px) {
  .close {
    top: 2.1875rem;
    right: 3.125rem;
    width: 1.5625rem;
    height: 1.5625rem;
  }

  modal{
    max-width: 90vw;
    width: auto;
    width: initial;
  }

  .x-aspectratio {
    width: 85vw;
  }
}

