.reviews{
  &__container{
    // display: flex;
    padding-top: 110px;
  }

  &__list{
    display: flex;
    padding: 100px 0 110px;
  }

  &__item{
    margin-left: 68px;
    &:first-child{
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 1024px) {
  .reviews__list {
    overflow-x: scroll;
  }
}
