.step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: "Montserrat";
  padding-bottom: 110px;

  &:first-child {
    margin-left: 0;
  }

  margin-left: 90px;

  &__logo {
    width: 100%;
    text-align: center;

    // &-img {
    //   height: 192px;
    //   width: 214px;
    //   object-fit: contain;

    //   &--left {
    //     margin-top: -5px;
    //   }
    // }
  }

  &__title {
    text-align: center;
    padding-top: 70px;
    width: 100%;
    font-size: 30px;
    color: rgb(51, 51, 51);
    line-height: 1.2;
  }

  &__desc {
    text-align: center;
    padding-top: 25px;
    font-size: 17px;
    width: 82%;
    line-height: 1.281;
    color: hsl(0, 0%, 20%);
    margin-left: 54px;
  }
}

@media screen and (max-width: 767px) {
  .step__desc {
    margin: 0;
    width: 100%;
  }

  .step__title {
    padding: 32px 0 0 0;
  }
}
